USE [TaskManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[spInsertOrder]    Script Date: 11/11/2025 9:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[spInsertOrder]
    @CustomerName NVARCHAR(100),
    @CustomerEmail NVARCHAR(100),
    @OrderStatus NVARCHAR(50),
    @Quantity INT=null,
    @ProductID INT=null,
    @SubTotal DECIMAL(18,2)=null
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [Order] (CustomerName, CustomerEmail, OrderStatus, OrderDate)
    VALUES (@CustomerName, @CustomerEmail, @OrderStatus, GETDATE());

    DECLARE @OrderID INT = SCOPE_IDENTITY();

    INSERT INTO [OrderDetails] (OrderID, ProductID, Quantity, SubTotal)
    VALUES (@OrderID, @ProductID, @Quantity, @SubTotal);

    SELECT @OrderID AS ID;
END;